.elements__delete-button {
    background-image: url(../../../images/korzina.svg);
    background-size: 100%;
    width: 18px;
    height: 19px;
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    top: 18px;
    right: 15px;
    transition: opacity 0.3s ease-out;
}
.elements__delete-button:hover {
    opacity: .6;
}