.popup__container {
    width: 430px;
    min-height: 330px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  .popup__container {
    max-width: 282px;
    max-height: 322px;
    top: 123px;
  }
}