.header {
    max-width: 880px;
    margin: 45px auto 40px;
    border-bottom: 1px solid #545454;
    padding-bottom: 31px;
}
@media screen and (max-width: 900px) {
    .header {
        padding-left: 27px;
    }
}

@media screen and (max-width: 500px) {
    .header {
        margin-top: 28px;
        margin-bottom: 42px;
    }
}