.popup__close-button {
    width: 40px;
    height: 40px;
    background-image: url(../../../images/krest.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: -40px;
    top: -40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
@media screen and (max-width: 500px) {
    .popup__close-button {
        width: 26px;
        height: 26px;
        right: 0px;
      }
    }