.profile-info__name {
    color: white;
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

@media screen and (max-width: 550px) {
    .profile-info__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}