.popup-image__close-button {
    background: transparent;
    background-image: url(../../../images/krest.svg);
    background-size: cover;
    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
}
  
.popup-image__close-button:hover {
    opacity: .6;
}

@media screen and (max-width: 600px) {
    .popup-image__close-button {
      width: 36px;
      height: 36px;
      top: -50px;
      right: -6px;
    }
  }